.Home {
  .AnTokNews {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;

    background-color: white;
    height: 300px;

    .News {
      border-bottom: 1px solid rgb(231, 231, 229);
      font-weight: 900;

      padding: 10px 0px 10px 20px;
    }
  }

  .Homemiddr {
    display: flex;

    justify-content: space-between;
    .Homemiddrtitle {
      margin-right: 20px;
      border-radius: 5px 5px 5px 5px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 10px 10px;
      margin-bottom: 30px;
      background-color: white;
      width: 400px;
      height: 280px;

      .Homemiddrspan {
        padding: 13px 00px 13px 20px;
        font-weight: bold;
        white-space: nowrap;
        display: flex;
        width: 380px;
        span:nth-child(1) {
          margin-right: 10px;
          font-size: 13px;
          font-weight: bold;

          white-space: nowrap;
          color: #9a62e6;
        }
        a:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 13px;
          font-weight: 900;
        }
      }
      .Homemiddrss {
        border-bottom: 1px solid rgb(231, 231, 229);
        font-weight: 900;
        padding: 10px 0px 10px 20px;
      }
    }
    .Homemiddrmddle {
      border-radius: 5px 5px 5px 5px;

      box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 10px 10px;
      margin-bottom: 30px;
      background-color: white;
      width: 400px;
      height: 280px;
      .Homemiddrspan {
        padding: 13px 00px 13px 20px;
        font-weight: bold;
        white-space: nowrap;
        display: flex;
        width: 380px;

        span:nth-child(1) {
          color: #9a62e6;
          margin-right: 10px;
          font-size: 13px;
          font-weight: bold;

          white-space: nowrap;
        }
        a:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 13px;
          font-weight: 900;
        }
      }
      .Homemiddrmddless {
        border-bottom: 1px solid rgb(231, 231, 229);
        font-weight: 900;
        padding: 10px 0px 10px 20px;
      }
    }
  }

  .Homelist {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;
    background-color: white;

    height: 342px;
  }
}
.Newslist {
  padding: 20px 10px 20px 10px;
  display: flex;

  justify-content: space-around;
  .Newsimg {
    width: 230px;
    img {
      display: inline-block;

      width: 230px;
      height: 170px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
    }
    div {
      margin-top: 10px;
      font-size: 13px;
      font-weight: 900;
    }
  }
}

.Homelist {
  .Homelisttitle {
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 10px 10px;

    background-color: white;
    width: 100%;
    .Homelistspan {
      font-weight: bolder;
      padding: 15px 0px 15px 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 95%;
      a {
        font-size: 13px;

        height: 10px;
      }
      span:nth-child(2) {
        font-size: 13px;
        margin-top: 5px;

        color: #868e96;
        margin-right: 10px;
      }
      span:nth-child(3) {
        font-size: 13px;
        color: #868e96;
        font-size: 0.75rem;
      }
    }
    .Homelistss {
      border-bottom: 1px solid rgb(231, 231, 229);
      font-weight: 900;

      padding: 10px 0px 10px 20px;
    }
  }
}
.Homestock {
  display: flex;
  justify-content: space-between;

  .Homestocktitle {
    margin-right: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 10px 10px;
    margin-bottom: 30px;
    background-color: white;
    width: 400px;
    height: 280px;
    .Homemiddrspan {
      padding: 13px 00px 13px 20px;
      font-weight: bold;
      white-space: nowrap;
      display: flex;
      width: 380px;
      span:nth-child(1) {
        margin-right: 10px;
        font-size: 13px;
        font-weight: bold;

        white-space: nowrap;
        color: #9a62e6;
      }
      a:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 13px;
        font-weight: 900;
      }
    }
    .Homestockss {
      border-bottom: 1px solid rgb(231, 231, 229);
      font-weight: bold;
      padding: 10px 0px 10px 20px;
    }
  }
  .Homecoin {
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 10px 10px;
    margin-bottom: 30px;
    background-color: white;

    height: 280px;
    .Homemiddrspan {
      padding: 13px 00px 13px 20px;
      font-weight: bold;
      white-space: nowrap;
      display: flex;
      width: 400px;

      span:nth-child(1) {
        margin-right: 10px;
        font-size: 13px;
        font-weight: bold;

        color: #9a62e6;
      }
      a:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;

        width: 300px;
        font-size: 13px;
        font-weight: 900;
      }
    }
    .Homecoinss {
      border-bottom: 1px solid rgb(231, 231, 229);
      font-weight: 900;
      padding: 10px 0px 10px 20px;
    }
  }
}
.SidbarNotice {
  a:nth-child(1) {
  }
  a:nth-child(2) {
    border: 1px solid blue;
  }
  a:nth-child(3) {
    border: 1px solid blue;
  }
}
.Sidbarbannerlists {
  color: #9a62e6;
}
.Newsimgdiv {
  text-align: center;
  width: 230px;
  padding-left: 5px;
  padding-right: 5px;

  max-width: 230px;

  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}
